<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-trips</ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="helper.modal.closeModel()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <div>
        <ion-label>Title</ion-label>
        <div>
          <ion-input name="name" required minlength="3" [(ngModel)]="frmData.title" class="form-input"></ion-input>
        </div>
      </div>

      <div>
        <ion-label>Description</ion-label>
        <div>
          <ion-textarea class="area-input">

          </ion-textarea>
        </div>
      </div>


      <div>
        <ion-label>From date</ion-label>
        <div>
          <ion-input type="date" class="form-input"></ion-input>
        </div>
      </div>

      <div>
        <ion-label>To Date</ion-label>
        <div>
          <ion-input type="date" class="form-input"></ion-input>
        </div>
      </div>

      <div>
        <ion-label>No Of Seats</ion-label>
        <div>
          <ion-input type="number" class="form-input"></ion-input>
        </div>
      </div>

      <div>
        <ion-label>Contact Email</ion-label>
        <div>
          <ion-input type="number" class="form-input"></ion-input>
        </div>
      </div>

      <div>
        <ion-label>Contact Number</ion-label>
        <div>
          <ion-input type="number" class="form-input"></ion-input>
        </div>
      </div>



      <div>
        <ion-label>Contact Number</ion-label>
        <div>
          <input class="form-input" type="file" id="image" name="image" accept="image/*"
            (change)="onFileSelected($event)">
        </div>
      </div>





      <ion-card class="card-list">
        <ion-card-header>
          <ion-card-title>Pickup Location</ion-card-title>
          <ion-button (click)="isAddingAddress = true">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>
              <h2>Gujarat, Pakistan</h2>
              <p>Bus Stand, Ada 200, Area</p>
            </ion-label>
            <ion-button color="danger" fill="clear" slot="end">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-list">
        <ion-card-header>
          <ion-card-title>Trip Location</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <div class="no-list">
            At least one Location is required
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-list">
        <ion-card-header>
          <ion-card-title>Pricing Plan</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>


      <!-- <ion-button (click)="selectImage()">
        Select Image
      </ion-button> -->
      <ion-button [disabled]="myForm.invalid">
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>


 <!-- Addresss odal  -->

 <ion-modal [isOpen]="isAddingAddress">
  <ng-template>


    <ion-header>
      <ion-toolbar>
        <ion-title>Address Add</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isAddingAddress = false">
            Close
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
     


      <div class="form">
        <div (click)="getCOuntries()">
          <ion-label>Country</ion-label>
          <div>
            <ion-input name="name" required minlength="3" [ngModel]="addressAll.labels.country" class="form-input"></ion-input>
          </div>
        </div>

        <div (click)="getStates()">
          <ion-label>State</ion-label>
          <div>
            <ion-input name="name" required minlength="3" [ngModel]="addressAll.labels.country" class="form-input"></ion-input>
          </div>
        </div>

  
       

        <ion-button>
          Submit
        </ion-button>
      </div>

    </ion-content>
  </ng-template>
</ion-modal>



 <!-- List Model -->

 <ion-modal [isOpen]="isOpenListModel">
  <ng-template>


    <ion-header>
      <ion-toolbar>
        <ion-title>{{listTypeTitle}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isOpenListModel = false">
            Close
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar (ionInput)="changeSearch($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
     
      <ng-container *ngIf="listTypeModal == 1">
        <ion-radio-group  [(ngModel)]="selectCountry.id">
          <ion-list>
            <ion-item *ngFor="let item of showListItems" (click)="selectFromList(item)">
              <ion-radio [value]="item" >{{item.name}} ({{item.iso3}})</ion-radio>
              <!-- <ion-label>{{item.name}}</ion-label>
              <ion-radio area-label="item.name" [value]="item.id"></ion-radio> -->
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </ng-container>


       <ng-container *ngIf="listTypeModal == 2">
        <ion-radio-group  [(ngModel)]="selectCountry.id">
          <ion-list>
            <ion-item *ngFor="let item of showListItems" (click)="selectFromList(item)">
              <ion-radio (click)="selectFromList(item)" [value]="item" >{{item.name}} ({{item.iso3}})</ion-radio>
              <!-- <ion-label>{{item.name}}</ion-label>
              <ion-radio area-label="item.name" [value]="item.id"></ion-radio> -->
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </ng-container>


    </ion-content>
  </ng-template>
</ion-modal>



