<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-trips</ion-title>


  <ion-buttons slot="end">
    <ion-button (click)="helper.modal.closeModel()">
      Close
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="form">
    <div>
      <ion-label>Country</ion-label>
      <div>
        <ion-input class="form-input"></ion-input>
      </div>
    </div>

    <div>
      <ion-label>State</ion-label>
      <div>
        <ion-input class="form-input"></ion-input>
      </div>
    </div>


    <div>
      <ion-label>City</ion-label>
      <div>
        <ion-input class="form-input"></ion-input>
      </div>
    </div>

    <div>
      <ion-label>Area</ion-label>
      <div>
        <ion-input class="form-input"></ion-input>
      </div>
    </div>


  </div>
</ion-content>